{% extends 'base.html.twig' %}

{% block title %}
    The Good Corner
{% endblock %}


{% block body %}
        {% if infoMessage is defined %}
            <div class="alert alert-success" role="alert">
                {{ infoMessage }}
            </div>
        {% endif %}
        {% if app.user %}
        <div class="h2 text-center mb-5">Hello {{app.user.name}} 👋</div>
        {% endif %}

        <form method="GET" action="{{ path("app_home_page") }}" class="d-flex justify-content-center mb-5">
            <select name="category" id="category" class="form-select text-center" style="max-width:450px;" aria-label="Default select example">
                <option value="0" {{ filterCategory ? '' : 'selected'}}>You can filter the announcements by category</option>
                {% for key, categorie in categories %}
                    <option value="{{ categorie.id }}" {{ categorie.id == filterCategory ? 'selected' : ''}}>{{ categorie.name|capitalize }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn primary-bg ml-5 px-5" />Filter</button>
        </form>
    
        <div class="h4 text-center mb-5">List of announcements</div>
        {% for post in posts  %}
            {% if(is_granted('ROLE_ADMIN')) %}
                {% include 'Components/postCard.html.twig' with {
                    administrable: true,
                    title: post.title,
                    images: post.images,
                    price: post.price,
                    category: post.category,
                    condition: post.condition,
                    createdAt: post.createdAt,
                    name: post.author.name,
                    isPublished: post.isPublished,
                    postId: post.id,
                    description: post.description,
                    updateRedirection: "app_home_page"
                } %}
            {% else %}
                {% if(post.isPublished) %}
                    {% include 'Components/postCard.html.twig' with {
                        administrable: false,
                        title: post.title,
                        images: post.images,
                        price: post.price,
                        category: post.category,
                        condition: post.condition,
                        createdAt: post.createdAt,
                        name: post.author.name,
                        isPublished: post.isPublished,
                        postId: post.id,
                        description: post.description,
                        updateRedirection: null
                    } %}
                {% endif %}
            {% endif %}
        {% endfor %}
{% endblock %}
