{% extends 'base.html.twig' %}

{% block title %}
    Home page
{% endblock %}


{% block body %}
    <h1>Posts: {{  posts|length }}</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Category</th>
            <th scope="col">Condition</th>
            <th scope="col">Description</th>
            <th scope="col">Date</th>
            <th scope="col">Author</th>
            <th scope="col">Published</th>
            <th scope="col">Images</th>
        </tr>
        </thead>
        <tbody>
            {% for post in posts  %}
                {% set nameArray =  post.author.name|split('.') %}
                {% set firstName = nameArray[0] %}
                {% set lastName = nameArray|length > 1 ?  nameArray[1] : "" %}

                <tr>
                    <td>{{ post.title }}</td>
                    <td>{{ post.category.name }}</td>
                    <td>{{ post.condition }}</td>
                    <td>{{ post.description }}</td>
                    <td>{{ post.createdAt|date('d-m-Y') }}</td>
                    <td>{{ firstName|capitalize }} {{ lastName|capitalize }}</td>
                    <td>{{ post.isPublished }}</td>
                    <td>
                        <ul>
                            {% for image in  post.images %}
                                <li>
                                    <img src="{{ image }}" style="width: 100px" >
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
