{% extends 'base.html.twig' %}

{% block title %}
    Home page
{% endblock %}


{% block body %}
    <div class="container align-items-center mt-5">
        <h1 class="text-center mb-5">My account</h1>
        <form class="m-auto" style="max-width: 600px"  method="POST" action="">
            <div class="form-group mb-5">
                <input type="email" class="form-control" name="email" id="email" value="{{ user.email }}" data-old-value="{{ user.email }}" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group mb-5">
                <input type="password" class="form-control" name="password" id="password" placeholder="New Password">
            </div>
            <div class="form-group mb-5">
                <input type="text" class="form-control" value="{{ user.name }}" data-old-value="{{ user.name }}" name="name" id="name" placeholder="Name">
            </div>
            <div class="form-group mb-5">
                <input type="phone" class="form-control" value="{{ user.phone }}" data-old-value="{{ user.phone }}" name="phone" id="phone" placeholder="Phone (Optionnal)">
            </div>
            <div class="form-check mx-auto mb-5" style="width: fit-content;">
                <input type="checkbox" name="is-admin" class="form-check-input" id="is-admin" value="{{ user.isAdmin }}" data-old-value="{{ user.isAdmin }}">
                <label class="form-check-label" for="is-admin">Admin</label>
            </div>
            <div class="form-group d-flex mb-5">
                <button class="d-flex btn btn-danger m-auto" style="width: fit-content; " type="submit">Cancel</button>
                <button class="d-flex btn btn-secondary m-auto" style="width: fit-content; " type="submit">Update</button>
            </div>
        </form>
    </div>
{% endblock %}