{% extends 'base.html.twig' %}

{% block title %}
    My Profile
{% endblock %}


{% block body %}

    <div class="container align-items-center mt-5 pt-5 pb-5">
        <h1 class="text-center mb-5">Edit profile</h1>
        {% if flash is defined %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Success</strong> {{ flash }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        <form class="m-auto" style="max-width: 600px"  method="POST" action="{{ path('app_update_user', { 'id': app.user.id }) }}">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">email</span>
                </div>
                <input type="email" class="form-control" name="email" id="email" value="{{ app.user.email }}" data-old-value="{{ app.user.email }}" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">name</span>
                </div>
                <input type="text" class="form-control" value="{{ app.user.name }}" data-old-value="{{ app.user.name }}" name="name" id="name" placeholder="Name">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">name</span>
                </div>
                <input type="phone" class="form-control" value="{{ app.user.phone }}" data-old-value="{{ app.user.phone }}" name="phone" id="phone" placeholder="Phone (Optionnal)">
            </div>
            <div class="form-check mx-auto mb-5" style="width: fit-content;">
                <input type="checkbox" name="is-admin" class="form-check-input" id="is-admin" {% if (is_granted('ROLE_ADMIN')) %} checked {% endif %} data-old-value="{% if (is_granted('ROLE_ADMIN')) %} checked {% endif %}">
                <label class="form-check-label" for="is-admin">Admin</label>
            </div>
            <div class="form-group d-flex mb-5">
                <button class="d-flex btn btn-danger m-auto" style="width: fit-content; " type="submit" data-reset-form-value >Cancel</button>
                <button class="d-flex btn btn-secondary m-auto" style="width: fit-content; " type="submit">Update</button>
            </div>
        </form>
        {% if(app.user.posts and app.user.posts|length > 0) %}
        <div id="your-post">
            <div class="d-flex justify-content-between align-items-start">
                <div>
                    <p>Filter</p>
                    <form class="form-check form-switch">
                        <input value="draft" class="form-check-input" type="checkbox" id="draft" checked>
                        <label class="form-check-label" for="draft">
                            Drafts
                            <span class="badge badge-secondary">{{ app.user.posts|filter(p => p.isPublished)|length }}</span>
                        </label>
                    </form>
                    <form class="form-check form-switch">
                        <input class="form-check-input" value="published" type="checkbox" id="published" checked>
                        <label class="form-check-label" for="published">
                            Published
                            <span class="badge badge-secondary">{{ app.user.posts|filter(p => p.isPublished == false)|length }}</span>
                        </label>
                    </form>
                </div>
                {% include 'Components/rating.html.twig' with {
                    title: 'Your rate',
                    votes: app.user.votes,
                    userId: app.user.id,
                    redirectRoute: "app_profile",
                    redirectID: "",
                    allowRating: is_granted('ROLE_ADMIN')
                } %}
            </div>
            <h1 class="text-center mb-5">Your posts</h1>
                {% for key, post in app.user.posts|sort((a,b) => b.createdAt <=> a.createdAt) %}
                    {% include 'Components/postCard.html.twig' with {
                        administrable: true,
                        title: post.title,
                        images: post.images,
                        price: post.price,
                        category: post.category,
                        condition: post.condition,
                        createdAt: post.createdAt,
                        name: post.author.name,
                        isPublished: post.isPublished,
                        postId: post.id,
                        description: post.description,
                        updateRedirection: "app_profile",
                        index: key
                    } %}
                {% endfor %}
        </div>
        {% endif %}
    </div>
{% endblock %}